---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Search from "../components/Search.astro";
import Nav from "../components/Nav.astro";
import CategorySection from "../components/CategorySection.astro";
import Footer from "../components/Footer.astro";
import { categories } from "../data/links";
---

<Layout title="WebNav Hub">
  <Header />
  <Search />
  <Nav />
  <main>
    {categories.map((category) => <CategorySection category={category} />)}
  </main>
  <Footer />
</Layout>

<script>
  import "../scripts/navigation";
  import "../scripts/search";
</script>